### Installing packages

In [84]:
# !conda install baseball_scraper   # provides scraper API to pull some main statcast tables (3AM daily refresh)
## Install baseball_id, which essentially provide a join table across multiple sources 
##  - https://stackoverflow.com/questions/46076754/use-package-from-github-in-conda-virtual-environment
##  - https://github.com/spilchen/baseball_id

In [7]:
import baseball_scraper

### Pitcher data API test

In [4]:
playerid_lookup('kershaw', 'clayton')

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,kershaw,clayton,477132,kersc001,kershcl01,2036,2008.0,2020.0

In [6]:
# Pull data
kershaw_stats = statcast_pitcher('2017-06-01', '2020-07-01', 477132)
kershaw_stats.head(10)

Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,SL,2019-10-09,89.3,1.32,6.44,Clayton Kershaw,665742,477132,home_run,hit_into_play_score,...,3,2,2,3,2,3,2,3,Strategic,Standard
1,FF,2019-10-09,89.4,1.27,6.47,Clayton Kershaw,543685,477132,home_run,hit_into_play_score,...,3,1,1,3,1,3,1,3,Infield shift,Standard
2,CU,2019-10-09,74.2,0.89,6.57,Clayton Kershaw,543685,477132,NaN,ball,...,3,1,1,3,1,3,1,3,Infield shift,Standard
3,SL,2019-10-09,88.9,1.37,6.35,Clayton Kershaw,594809,477132,strikeout,swinging_strike,...,3,1,1,3,1,3,1,3,Standard,Standard
4,SL,2019-10-09,89.3,1.29,6.45,Clayton Kershaw,594809,477132,NaN,called_strike,...,3,1,1,3,1,3,1,3,Standard,Standard
5,FF,2019-10-09,90.6,1.25,6.42,Clayton Kershaw,594809,477132,NaN,foul,...,3,1,1,3,1,3,1,3,Standard,Standard
6,SL,2019-10-04,86.8,1.32,6.42,Clayton Kershaw,544931,477132,field_out,hit_into_play,...,0,3,3,0,3,0,3,0,Standard,Standard
7,SL,2019-10-04,86.7,1.19,6.38,Clayton Kershaw,544931,477132,NaN,blocked_ball,...,0,3,3,0,3,0,3,0,Standard,Standard
8,FF,2019-10-04,91.2,1.16,6.41,Clayton Kershaw,544931,477132,NaN,called_strike,...,0,3,3,0,3,0,3,0,Standard,Standard
9,SL,2019-10-04,85.8,1.53,6.44,Clayton Kershaw,645302,477132,double,hit_into_play_no_out,...,0,3,3,0,3,0,3,0,Infield shift,Standard

In [25]:
kershaw_stats.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'fielder_2', 'umpire', 'sv_id',
       'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pitcher.1',
       'fielder_2.1', 'fielder_3', 'fielder_4', 'fielder_5', 'fielder_6',
       'fielder_7', 'fielder_8', 'fielder_9', 'release_pos_y',
       'estimated_ba_using_speedangle', 'estimated_woba_using_speedangle',
       'woba_value', 'woba_denom', 'babip_value', 'iso_value',
       'launch_speed_angle', 'at_bat_number', 'pitch_number', 'pitch_name',
       'home_score', 'away_score', 'bat_score', 'fld_score', 'post_away_score',
       'post_home_score', 'post_bat_score', 'post_fld_score',
       'if_fielding_alignment', 'of_fielding_alignment'],
      dtype='object')

In [26]:
# Save to csv in code file directory
kershaw_stats.head(10).to_csv('1. PitcherTableExample.csv')

### Batter data API test

In [22]:
from baseball_scraper import batting_stats_range
batting_data = batting_stats_range('2017-05-01', '2017-05-08')
batting_data.head()

,Name,Age,#days,Lev,Tm,G,PA,AB,R,H,...,SH,SF,GDP,SB,CS,BA,OBP,SLG,OPS,mlb_ID
1,José Abreu,30,1364,MLB-AL,Chicago,7,31,30,5,9,...,0,0,1,0,0,0.300,0.323,0.667,0.989,547989
2,Lane Adams,27,1364,MLB-NL,Atlanta,6,6,6,0,2,...,0,0,1,1,0,0.333,0.333,0.333,0.667,572669
3,Matt Adams,28,1363,MLB-NL,St. Louis,6,9,9,2,4,...,0,0,0,0,0,0.444,0.444,0.778,1.222,571431
4,Jim Adduci,32,1364,MLB-AL,Detroit,6,24,21,3,5,...,0,0,0,0,0,0.238,0.333,0.381,0.714,451192
5,Tim Adleman,29,1367,MLB-NL,Cincinnati,1,2,2,0,0,...,0,0,0,0,0,0.000,0.000,0.000,0.000,534947

In [23]:
batting_data.columns

Index(['Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'PA', 'AB', 'R', 'H', '2B',
       '3B', 'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB',
       'CS', 'BA', 'OBP', 'SLG', 'OPS', 'mlb_ID'],
      dtype='object')

In [68]:
# Save to csv in code file directory
batting_data.head(10).to_csv('2. BatterTableExample.csv')

### 'Fangraph' data API test

In [85]:
from baseball_scraper import fangraphs
from baseball_id import Lookup

player_id = Lookup.from_names(['Khris Davis']).iloc[0].fg_id
fangraphs.Scraper.instances()
['Steamer (RoS)', 'Steamer (Update)', 'ZiPS (Update)', 'Steamer600 (Update)', 'Depth Charts (RoS)', 'THE BAT (RoS)']
fg = fangraphs.Scraper("Steamer (RoS)")

In [87]:
# GETTING ERROR! 
# Tried resolving but issues is persisting... # Follow this article to install/set chromedriver: https://cppsecrets.com/users/11429798104105115104101107117115104119971049754494864103109971051084699111109/Python-chromedriver-executable-needs-to-be-in-PATH.php
# fangraph_data = fg.scrape(player_id, scrape_as=fangraphs.ScrapeType.HITTER)

In [ ]:
# fangraph_data.columns

In [ ]:
# Save to csv in code file directory
# fangraph_data.head(10).to_csv('3. baseballIdExample.csv')

In [ ]:
# player_id = Lookup.from_names(['Max Scherzer']).iloc[0].fg_id
# df = fg.scrape(player_id, scrape_as=fangraphs.ScrapeType.PITCHER)
# df.columns

### Game-by-Game Results API test

In [64]:
# Example: Let's take a look at the individual-game results of the 2019 Yankees
from baseball_scraper import baseball_reference
s = baseball_reference.TeamScraper()
s.set_season(2019)
gamebygame_data = s.scrape('NYY')
gamebygame_data.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,2019-03-28,NYY,Home,BAL,W,7.0,2.0,9.0,1-0,1.0,up 1.0,Tanaka,Cashner,None,3:06,D,46928.0,1.08,1,None
2,2019-03-30,NYY,Home,BAL,L,3.0,5.0,9.0,1-1,3.0,0.5,Yacabonis,Paxton,Wright,3:24,D,42203.0,1.12,-1,None
3,2019-03-31,NYY,Home,BAL,L,5.0,7.0,9.0,1-2,4.0,1.5,Means,Happ,Fry,3:48,D,38419.0,1.04,-2,None
4,2019-04-01,NYY,Home,DET,W,3.0,1.0,9.0,2-2,3.0,1.5,German,Ross,Chapman,2:43,N,32036.0,.91,1,None
5,2019-04-02,NYY,Home,DET,L,1.0,3.0,9.0,2-3,3.0,2.5,Jimenez,Chapman,Greene,2:41,N,32018.0,.91,-1,None

In [65]:
gamebygame_data.columns

Index(['Date', 'Tm', 'Home_Away', 'Opp', 'W/L', 'R', 'RA', 'Inn', 'W-L',
       'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N', 'Attendance', 'cLI',
       'Streak', 'Orig. Scheduled'],
      dtype='object')

In [80]:
# Save to csv in code file directory
gamebygame_data.head(10).to_csv('4.1 GameByGame.csv')

In [75]:
# Let get the games a team plays in a given week.
import datetime as dt
s.set_date_range(dt.datetime(2019,6,2), dt.datetime(2019,12,1))
gamebygame_data2 = s.scrape('NYY')
gamebygame_data2.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
58,2019-06-02,NYY,Home,BOS,L,5.0,8.0,9.0,38-20,1.0,up 2.5,Price,Sabathia,Workman,3:30,N,40068.0,1.22,-1,None
59,2019-06-04,NYY,@,TOR,L,3.0,4.0,9.0,38-21,1.0,up 2.5,Pannone,Tanaka,Giles,3:00,N,20671.0,1.13,-2,None
60,2019-06-05,NYY,@,TOR,L,7.0,11.0,9.0,38-22,1.0,up 1.5,Gaviglio,Britton,None,3:22,N,16609.0,1.12,-3,None
61,2019-06-06,NYY,@,TOR,W,6.0,2.0,9.0,39-22,1.0,up 1.5,Happ,Jackson,Chapman,3:07,N,25657.0,1.19,1,None
62,2019-06-07,NYY,@,CLE,L,2.0,5.0,9.0,39-23,1.0,up 0.5,Plesac,German,Hand,2:23,N,31531.0,1.20,-1,None

In [77]:
gamebygame_data2.columns

Index(['Date', 'Tm', 'Home_Away', 'Opp', 'W/L', 'R', 'RA', 'Inn', 'W-L',
       'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N', 'Attendance', 'cLI',
       'Streak', 'Orig. Scheduled'],
      dtype='object')

In [79]:
# Save to csv in code file directory
gamebygame_data2.head(10).to_csv('4.2 GameByGame.csv')